<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Cadastro de produtos</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details" >
                    <div class="section-title">
                        <h3 class="title">Dados do produto</h3>
                    </div>
                    <div class="form-group">
                        <label for="id">Id do produto:</label>
                        <span><input class="input" type="number" id="id" name="id" placeholder="id do produto" [(ngModel)]="id" readonly></span>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome do produto:</label>
                        <input class="input" type="text" id="nome" name="nome" placeholder="Nome do produto" [(ngModel)]="nome">
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <input class="input" type="text" id="categoria" name="descricao" placeholder="Categoria" [(ngModel)]="categoria">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <input class="input" type="text" id="descricao" name="descricao" placeholder="Descrição" [(ngModel)]="descricao">
                    </div>
                    <div class="form-group">
                        <label for="quantidade">Quantidade:</label>
                        <input class="input" type="email" id="quantidade" name="quantidade" placeholder="Quantidade" [(ngModel)]="quantidade">
                    </div>
                    <div class="form-group">
                        <label for="valor">Valor:</label>
                        <input class="input" type="text" id="valor" name="valor" placeholder="Valor" [(ngModel)]="valor">
                    </div>
                    <div class="form-group">
                        <label for="imagem_url">URL da Imagem:</label>
                        <input class="input" type="text" id="imagem_url" name="imagem_url" placeholder="URL da Imagem" [(ngModel)]="imagem_url">
                    </div>                    
                    <a class="primary-btn order-submit" *ngIf="id !== 0; else adicionarButton" (click)="editarProduto(produto.id)">Editar</a>
                    <ng-template #adicionarButton>
                        <a class="primary-btn order-submit" (click)="salvarProdutos()">Adicionar</a>
                    </ng-template>
                    <!-- botao para lipar os campos -->
                    <a class="secundary-btn order-submit" (click)="limparCampos()">limpar</a>
                </div>
                <!-- /Billing Details -->
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Lista de Produtos</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUTO</strong></div>
                        <div><strong>AÇÕES</strong></div>
                    </div>
                    <div class="order-products" *ngFor="let produto of produtos">
                        <div class="order-col">
                            <div>{{ produto.quantidade }}x {{ produto.nome }}</div>
                            <div class="actions">
                                <a (click)="buscarProduto(produto.id)"><i class="fa fa-pencil"></i></a>
                                <a (click)="removerProduto(produto.id)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->