
<div class="cart-list" *ngFor="let carrinho of carrinhos">
    <div class="product-widget">
        <div class="product-img">
            <img [src]="carrinho.imagem_produto" alt="">
        </div>
        <div class="product-body">
            <h3 class="product-name"><a>{{ carrinho.nome_produto }}</a></h3>
            <h4 class="product-price"><span class="qty">{{ carrinho.quantide_produto }}x</span>R${{ carrinho.valor_produto }}</h4>
        </div>
        <button class="delete" (click)="removerProduto(carrinho.id)"><i class="fa fa-close"></i></button>
    </div>
</div>
<div class="cart-summary" *ngFor="let carrinho of carrinhos;">
    <small>Item(s) selecionados</small>
    <h5>Total:</h5>
</div>
<div class="cart-btns">
    <a href="#">Ver Carrinho</a>
    <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
</div>