<div class="login">
    <div class="section-title text-center">
        <h3 class="title">Acessar minha conta</h3>
    </div>
    <div class="caption">
        <div class="form-group">
            <input class="input" type="email" name="email" placeholder="Email" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <input class="input" type="password" name="senha" placeholder="Senha" [(ngModel)]="senha">
        </div>
    </div>
    <div class="conta">
        <label for="conta">
            <span></span>
            Não possui uma conta? <a routerLink="/cadastro">Cadastre-se Já!</a>
        </label>
    </div>
    <div id="btn">
    <a class="primary-btn" (click)="autenticar()">Login</a>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Erro de autenticação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Usuário ou senha incorretos. Por favor, tente novamente.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
</div>