.login{
    margin: auto;
    width: 40%;
}

.conta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}